footer{
    background: #FFF0DE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
    padding: 48px 10px;

        display: flex;
        align-items: center;
        gap: 30px;
    }
}